<div class="flex flex-col space-y-2 justify-between items-end max-w-none sm:max-w-[50vw] xl:max-w-[33vw] w-full sm:w-2/3">
  <% properties.each { |prop, editor| %>
    <%= render 'layouts/dropping_editor', { form: form, edit: editor, property: prop } %>
  <% } %>

  <%= form.submit submit_name, class: 'mx-12 sm:mx-4 ' + button_classes %>
</div>
