<div class="mx-4 w-full flex flex-col">
  <%= form_for @user, url: update_user_path, method: :patch do |form| %>
    <h3 class="w-fit mb-1 lg:mb-2 text-2xl">Change user data</h3>
    <%= render "users/form_data", { form: form, submit_name: t("save.default"), properties: {
      name: :text_field,
      username: :text_field,
      email: :email_field,
    } } %>
  <% end %>

  <%= form_for @user, url: update_user_passwd_path, method: :patch do |form| %><%# TODO %>
    <h3 class="w-fit mb-1 lg:mb-2 text-2xl">Change password</h3>
    <%= render "users/form_data", { form: form, submit_name: t("save.passwd"), properties: {
      current_password: :password_field,
      password: :password_field,
      password_confirmation: :password_field,
    } } %>
  <% end %>
</div>
