<div class="flex flex-wrap space-x-2 items-center">
  <div>
    <%= link_to t('usr.register'), '/register',
                class: button_classes %>
  </div>
  <div>
    <%= link_to t('usr.log_in'), '/login',
                class: button_classes %>
  </div>
</div>
