<div class="mx-4 w-full flex flex-col">
  <aside class="flex flex-col">
    <h1 class="mb-1 lg:mb-2 text-4xl">Log in to 1pt</h1>
    <%= link_to t('usr.reg-rather'), register_path, id: 'login_to_reg', class: 'w-fit ' + button_classes %>
  </aside>

  <%= form_for @user, url: session_login_path do |form| %>
    <%= render "users/form_data", { form: form, submit_name: t("usr.log_in"), properties: {
      username: :text_field,
      password: :password_field
    } } %>
  <% end %>
</div>
