<div class="flex flex-wrap space-x-2 items-center">
  <div>
    <%= link_to t('usr.register'),
                register_path,
                id: 'register_btn',
                class: button_classes %>
  </div>
  <div>
    <%= link_to t('usr.log_in'),
                login_path,
                id: 'login_btn',
                class: button_classes %>
  </div>
</div>
